// Colors
$bg-color-card-container: gainsboro;
$bg-color-card-content: ghostwhite;
$border-color-card: #bdbaba;
$bg-color-button: limegreen;
$color-button: white;

// Fonts
$font-size-s: 13px;
$font-size-m: 14px;
$font-size-l: 18px;
$font-size-xl: 28px;

// Line-Height
$line-height-m: 22px;
$line-height-l: 28px;
