.box {
  &-color {
    &-1 {
      background-color: tomato;
    }
    &-2 {
      background-color: darkred;
    }
    &-3 {
      background-color: lightpink;
    }
  }

  &-shadow {
    box-shadow: -7px 10px 9px 1px #333333;
  }
}

.text {
  &-principal {
    font-family: Arial, Helvetica, sans-serif;
  }
  &-secondary {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}
